<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
	<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
		<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<i class="fs-4 bi-bicycle" style="color: transparent; background-image: linear-gradient(to left, #FF7E5F, #FEB47B); -webkit-background-clip: text;"></i>
			<span class="fs-5 d-none d-sm-inline rich-text ms-3">BeSpoked Bikes</span>
		</a>		  
		<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
			<li class="nav-item" *ngFor="let item of navItems">
			  <a href="#" class="nav-link align-middle px-0" [routerLink]="item.route" routerLinkActive="active">
				<i style="margin-left: 2%" class="fs-4 bi-{{item.icon}}"></i>
				<span class="ms-3 d-none d-sm-inline">{{item.label}}</span>
			  </a>
			</li>
		  </ul>
	</div>
</div>

  